1. Я как основной пользователь должен иметь доступ к Регистрации и Входу в Системе «Чат»
2. Я как пользователь основного чата при регистрации должен указывать следующую информацию: Фамилия, Имя, Логин,Пароль, почта, дата рождения в формате дд.мм.гггг, страна, город, номер мобильного телефона, язык
3. Я как пользователь основного чата при регистрации должен указывать логин и пароль
4. Я как основной пользователь чата могу искать/ добавлять/ удалять других пользователей
5. Я как основной пользователь нашёл и добавил другого пользователя в свой чат, ему должно приходит уведомление следующего содержания: «Пользователь Фамилия Имя хочет добавить Вас в список контактов»
6. Я как основной пользователь могу отправлять и получать сообщения от других пользователей
7. Я как основной пользователь могу отправлять файлы до 100 Мб другим пользователям (формат doc, docx, rtf, pdf, csv и все документы создаваемые ПО MS Office).
8. Я как основной пользователь могу отправлять смайлы другим пользователям
9. Я как основной пользователь могу создавать чат между выбранной группой других пользователей